.footer {
  display: flex;
  width: 100%;
  padding: 50px 80px 100px 80px;
  background-color: #8a9097;
  color: #fff;
  box-sizing: border-box;
  gap: 40px;
}

.footerContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 40px;
}

.footerHeader {
  display: flex;
  gap: 33px;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.footerItemLink {
  color: inherit;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
}

.footerCompany {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footerCompany>h4 {
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.16px
}

.footerItem {
  display: flex;
  align-items: center;
  gap: 33px;
  white-space: nowrap;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: -0.16px;
}

.footerItemLink {
  cursor: pointer;
}

.footerInfo {
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.14px;
  color: #cacdd2;
}

.footerMain {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 24px;
  width: 100%;
  box-sizing: border-box;
}

.socialItem {
  display: flex;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 100px;
  background: #9EA4AA;
}

.footerSocial {
  display: flex;
  gap: 24px;
  align-items: center;
}