.header {
  width: 100%;
  height: 80px;
  padding: 0 39px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.headerContainer {
  width: 100%;
  ;
}

.gnb {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: 12px 0;
}

.languageSwitcher {
  display: flex;
  align-items: center;
}

.languageLabel {
  display: flex;
  padding: 8px 15px;
  align-items: center;
  gap: 4.8px;
  align-items: center;
  justify-content: center;
  border-radius: 8px 0 0 8px;
  background: #E9EBED;
  width: 180px;
  height: 50.3px;
  box-sizing: border-box;

}

.languageLabel>span {
  font-size: 25px;
  font-weight: 500;
  line-height: 146%;
}

.languageSelect {
  display: flex;
  padding: 8px 15px;
  align-items: center;
  gap: 4.552px;
  border-radius: 4.552px 0 0 4.552px;
  background: #F8FAFB;
  border: none;
  box-sizing: border-box;
  font-size: 25px;
  font-weight: 500;
  line-height: 146%;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='21' height='12' viewBox='0 0 21 12' fill='none'><path fill-rule='evenodd' clip-rule='evenodd' d='M9.09799 11.3708L0.00106229 2.27383L2.27489 -7.95279e-07L10.2349 7.96001L18.1949 -9.93923e-08L20.4687 2.27383L11.3718 11.3708C11.0703 11.6722 10.6613 11.8416 10.2349 11.8416C9.8085 11.8416 9.39955 11.6722 9.09799 11.3708Z' fill='black'/></svg>");
  background-repeat: no-repeat;
  background-position: right 8px center;
  background-size: 21px 12px;
  width: 186px;
  height: 50.3px;
}



.languageSelect:focus,
.languageSelect:active,
.languageSelect:focus-visible {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
  box-shadow: none !important;
  border: none;
}

/* Remove any focus underline/line on mobile and desktop; keep accessibility via focus-visible if you prefer to re-enable later */