.index {
    display: flex;
    background: linear-gradient(90deg, #E3F1FF 0%, #E5FFF9 100%);
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
    padding: 65px 150px;
}

.indexContainer {
    display: flex;
    width: 100%;
}

.video {
    background-color: black;
    width: 310px;
    height: 550px;
    border-radius: 5px;
}

.indexContent {
    display: flex;
    gap: 40px;
}

.indexTitle {
    color: #007CFF;
    font-size: 26px;
    font-weight: 700;
    line-height: 146%;
    display: flex;
    gap: 16.5px;
}

.indexDescription {
    display: flex;
    flex-direction: column;
    border-radius: 100px 5px 5px 100px;
    background: #E4F2FF;
    width: 395px;
    height: 186px;
    position: relative;
    justify-content: center; /* 세로 가운데 정렬 */
    padding-left: 120px; /* 원이 겹치는 공간 확보 */
}

.indexDescriptionCircle {
    width: 186px;
    height: 186px;
    border-radius: 100px;
    background: #E4F2FF;
    position: absolute;
    left: -93px; /* 원의 절반만큼 왼쪽으로 이동시켜 반쯤 겹치게 함 */
    top: 50%;
    transform: translateY(-50%); /* 부모 내부 수직 가운데 정렬 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2; /* 텍스트/이미지 위로 올라오게 함 */
}

.descriptionImage {
    width: 250px;
    height: auto;
}

.descriptionTitle {
    color: #1B1D1F;
    font-size: 20px;
    font-weight: 700;
    line-height: 146%;
    box-sizing: border-box;
    padding-bottom: 15px;
}

.descriptionContent {
    color: #1B1D1F;
    font-size: 20px;
    font-weight: 500;
    line-height: 146%;
}